<html>
<head>
    <script>
        function checkcreatorform() {
            var name = document.getElementById("creatorname");
            if (name.value === "") {
                alert("Please enter your name!");
                return false;
            }

            var Email = document.getElementById("creatoremail");
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z]{2,4})+$/;
            if (!filter.test(Email.value)) {
                alert('Please input a valid e-mail address!');
                return false;
            }

            var channelID = document.getElementById("creatorchannelid");
            if (channelID.value === "" && document.getElementById("creatorplatform").value !== "instagram") {
                alert("Please enter ID of your Youtube Channel!");
                return false;
            }

            var channelName = document.getElementById("creatorchannelname");
            if (channelName.value === "" && document.getElementById("creatorplatform").value !== "instagram") {
                alert("Please enter your Channel's name!");
                return false;
            }

            var mid = document.getElementById("creatormetamaskid");
            if (mid.value === "") {
                alert("Please enter your metamask id!");
                return false;
            }

            var pass = document.getElementById("creatorpassword");
            var pass2 = document.getElementById("creatorconfirmpassword");
            if (pass.value !== pass2.value) {
                alert("Passwords do not match!");
                return false;
            } else if (pass.value.length < 9) {
                alert("Minimum length of password should be 8 characters");
                return false;
            }

            return true;
        }

        function instagramform() {
            var platform = document.getElementById("creatorplatform");
            var channelinfo=document.getElementsByClassName("channelFields");
            var instainfo=document.getElementsByClassName("instaFields");
            if (platform.value == "instagram") {
                for(x in channelinfo){
                    channelinfo[x].style.display="none";
                }
                for(x in instainfo){
                instainfo[x].style.display ="block";}
            }else{
                for(x in channelinfo){
                channelinfo[x].style.display ="block";}
                for(x in instainfo){
                instainfo[x].style.display ="none";}
            }
        }
    </script>
</head>
<body>
    <table>
        <form id="creatorform" method="post" action="" onsubmit="return checkcreatorform()">
            <tr><td>Name:</td><td> <input id="creatorname" type="text" name="creatorname"/></td></tr>
            <tr><td>Email:</td><td><input id="creatoremail" type="email" name="creatoremail"/></td></tr>
            <tr><td>Platform:</td><td><select id="creatorplatform" name="creatorplatform" onchange="instagramform()">
                <option value="youtube">YouTube</option>
                <option value="instagram" >Instagram</option>
            </select></td></tr>
            <tr><td><div class="channelFields">Channel ID:</div></td><td><div class="channelFields"><input id="creatorchannelid" type="text" name="creatorchannelid"/></div></td></tr>
            <tr><td><div class="channelFields">Channel Name:</div></td><td><div class="channelFields"><input id="creatorchannelname" type="text" name="creatorchannelname"/></div></td></tr>
        </div>
            
            
                <tr><td><div class="instaFields" style="display:none;">Insta ID:</div></td><td><div class="instaFields" style="display: none;"><input id="creatorinstaid" type="text" name="creatorinstaid"/></div></td></tr>
                <tr><td><div class="instaFields" style="display: none;">Insta Name:</div></td><td><div class="instaFields" style="display: none;"><input id="creatorinstaname" type="text" name="creatorinstaname"/></div></td></tr>
            </div>
            <tr><td>Metamask_id:</td><td><input id="creatormetamaskid" type="text" name="creatormetamaskid"/></td></tr>
            <tr><td>Password:</td><td><input id="creatorpassword" type="password" name="creatorpassword"/></td></tr>
            <tr><td>Confirm Password:</td><td><input id="creatorconfirmpassword" type="password" name="creatorconfirmpassword"/></td></tr>
            <tr><td colspan="2"><input class="creatorsubmit" type="submit" value="Sign Up"/>
                <input class="creatorcancel" type="reset" value="Cancel"/></td></tr>         
        </form>
    </table>
    
</body>
</html>
