<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creator COA</title>
        <link href='https://fonts.googleapis.com/css?family=Keania One' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rajdhani:wght@300&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@500&family=Roboto:wght@500&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Keania+One&display=swap" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="creatorcoa.css">
        <style>
            * {
                margin: 0px;
                padding: 0px;
            }
    
            body {
                background-image: url("vecteezy_abstract-futuristic-digital-background-technology-for_5550031 2.jpg");
            }
    
            nav {
                height: 100px;
                width: 100%;
                background-color: #07091C;
                border-radius: 50px;
                display: flex;
            }
    
            #mainthala {
                color: #E3C006;
                font-size: 40px;
                margin-left: 48px;
                position: relative;
                top: 20px;
                font-family: 'Keania One';
            }
    
            ul {
                padding-top: 40px;
                padding-left: 370px;
                margin-left: 120px;
            }
    
            ul li {
                display: inline;
                padding: 50px;
    
            }
    
            li a {
                text-decoration: none;
                color: #BEF2F5;
                font-size: 20px;
                font-family: 'inter';
                font-style: italic;
            }
    
            .search {
                margin-top: 40px;
                background-color: white;
                height: 56px;
                width: 865px;
                border-radius: 20px;
                background-color: #D9D9D9;
            }
    
            .search p {
                color: #656060;
                font-size: 20px;
                text-align: left;
                padding: 15px;
                padding-left: 50px;
                font-family: 'inter';
            }
    
            .line {
                background-color: #192257;
                margin-top: 30px;
                height: 40px;
            }
    
            .line ul {
                padding-top: 10px;
                padding-left: 0px;
                padding-right: 0px;
                float: left;
                margin-left: 0px;
            }
    
            .line a {
                font-size: 16px;
                padding-bottom: 13px;
            }
    
            #dec {
                font-family: 'Keania One';
                font-size: 48px;
                padding: 50px;
                font-weight: lighter;
            }
    
            .card {
                display: flex;
                justify-content: space-around;
                padding-left: 70px;
                padding-right: 70px;
            }
    
            .card1 {
                width: 282px;
                height: 360px;
                background-color: #C1C1C1;
                border-radius: 13px;
            }
    
            .card2 {
                width: 282px;
                height: 360px;
                background-color: #C1C1C1;
                border-radius: 13px;
            }
    
            .card3 {
                width: 282px;
                height: 360px;
                background-color: #C1C1C1;
                border-radius: 13px;
            }
    
            .sto {
                color: #67E8E0;
                font-size: 48px;
                font-family: 'keania one';
                font-weight: lighter;
                padding: 50px;
    
            }
    
            .long {
                background-color: #C1C1C1;
                width: 1031px;
                height: 114px;
                border-radius: 13px;
            }
    
            .l1 {
                margin: 10px;
            }
    
            .l2 {
                margin: 10px;
            }
    
            .l3 {
                margin: 10px;
            }
    
            .l4 {
                margin: 10px;
            }
            #uname{
                color:white ;
                position:absolute ;
                top: 40px;
                right: 25px;
    
            }
            #lgbtn{
                background-color: rgb(33, 33, 127);
        color: white;
        font-family: 'Lexend', sans-serif;
        font-size: 15=px;
        font-weight: 400;
        border-radius: 10px;
        padding: 10px;
        width: 120px;
        padding-left: 10px;
        margin-left: 25px;
        margin-top: 5px;
        position: relative;
        right: 0px;  
            }
        </style>
        <script>
            function ulgout(){
                document.getElementById("uname").innerHTML = "<button id='lgbtn'>Log Out</button>";
            }
            function unm(){
                document.getElementById("uname").innerHTML = "<%=username%>";
            }
        </script>
    </head>
    <body><nav>
        <span id="mainthala">Thala</span>
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#aboutcont">Open COA</a></li>
            <li><a href="#aboutcont">COA History</a></li>
            <div id="uname" onmouseover="ulgout()" onmouseout="unm()"><%=creatorname%></div>
        </ul>
    </nav>
    <div class="bo1">
        <form method="post" action="">
        <p id="ao">COA [Creator Ownership Agreement]</p>
        <p id="p1">Dilution %(Between 5%-10%):</p><br>
        <input id="idf"type="text" name="dilution">
        <p id="p1">Set Cut-off price:</p><br>
        <p id="p2">Starting prince(in matric)</p>
        <input id="idf"type="text"  name="cutoff">
        <input id="ida"type="submit" value="Apply">
    </form>
    </div>



</body></html>