<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Keania One' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rajdhani:wght@300&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="usersignup.css"> 
    <title>Sign Up |Creator</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        function checkcreatorform() {
            var name = document.getElementById("creatorname");
            if (name.value === "") {
                alert("Please enter your name!");
                return false;
            }

            var Email = document.getElementById("creatoremail");
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z]{2,4})+$/;
            if (!filter.test(Email.value)) {
                alert('Please input a valid e-mail address!');
                return false;
            }

            var channelID = document.getElementById("creatorchannelid");
            if (channelID.value === "" && document.getElementById("creatorplatform").value !== "instagram") {
                alert("Please enter ID of your Youtube Channel!");
                return false;
            }

            var channelName = document.getElementById("creatorchannelname");
            if (channelName.value === "" && document.getElementById("creatorplatform").value !== "instagram") {
                alert("Please enter your Channel's name!");
                return false;
            }

            var mid = document.getElementById("creatormetamaskid");
            if (mid.value === "") {
                alert("Please enter your metamask id!");
                return false;
            }

            var pass = document.getElementById("creatorpassword");
            var pass2 = document.getElementById("creatorconfirmpassword");
            if (pass.value !== pass2.value) {
                alert("Passwords do not match!");
                return false;
            } else if (pass.value.length < 9) {
                alert("Minimum length of password should be 8 characters");
                return false;
            }

            return true;
        }

        function instagramform() {
            var platform = document.getElementById("creatorplatform");
            var channelinfo=document.getElementById("creatorchannelid");
            var instainfo=document.getElementById("creatorchannelname");
            if (platform.value == "instagram") {
                for(x in channelinfo){
                    channelinfo[x].style.display="none";
                }
                for(x in instainfo){
                instainfo[x].style.display ="block";}
            }else{
                for(x in channelinfo){
                channelinfo[x].style.display ="block";}
                for(x in instainfo){
                instainfo[x].style.display ="none";}
            }
        }
    </script>
</head>
<body>
    <div class="nav"><span id="mainthala">Thala</span>
        <span id="homepage"><a href="index.ejs" >Home</a></span>
      </div>
      <img id="signback" src="Rectangle 19.svg" alt="not found">
      <img id="signuimg" src="Social media, Delivery, Business _ fast, speed, account, graph, success, happy.svg" alt="">
      <p id="signuhead">Signup as a Creator</p>
      <form id="userform" method="post" action="usersignin.ejs" onsubmit="return checkcreatorform()">
        <img id="midimg"src="Password.svg" alt="">
        <img id="psdimg"src="Group.svg" alt="">
        <input class="inputplace" id="creatorname" type="text" name="creatorname" placeholder="     Name"/><br>
        <input class="inputplace" id="creatoremail" type="email" name="creatoremail" placeholder="     Email"/><br>
        
            <input class="inputplace" id="creatorchannelid" type="text" name="creatorchannelid " placeholder="     Channel ID"/>
            <br>
            <input class="inputplace" id="creatorchannelname" type="text" name="creatorchannelname"placeholder="     Channel Name"/><br>
        <input class="inputplace" id="creatormetamaskid" type="text" name="creatormetamaskid" placeholder="       Metamask ID" onkeypress="remmid()"/><br>
        <input class="inputplace" id="creatorrpasword" type="password" name="creatorpassword" placeholder="        Password"/><br>
        <input id="usersubmit" type="submit" value="Submit"/>
    </form>
    
</body>
</html>


