<!doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Keania One' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rajdhani:wght@300&display=swap"
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thala</title>
    <link href="style.css" rel="stylesheet">
    
  </head>
  <body>
    <div class="nav"><span id="mainthala">Thala</span>
      <div class="navdiv">
        <ul id="list1">
          <li><a href="index.ejs">Home</a></li>
          <li><a href="#aboutcont">About us</a></li>
          <button><a href="./creatorlogin">Creator Login</a></button>
          <button><a href="./creatorsignup">Creator SignUP</a></button>
        </ul>
      </div>
    </div>
      <div class="mainbody">
        <div class="container" id="abc">
          <font size="" color="white"><span class="autotype"></span></font>
        </div>
        <div>
          <img id="lellipse" src="Ellipseleft.svg" alt="not found">
          <img id="illust" src="Illustration - Video Call.svg" alt="not found">
          <img id="rellipse" src="Ellipseright.svg"  alt="not found">
          <div id="contmain">
          <font id="discmain">Getting Started</font>
          <br>
          <p id="paramain">Get started by selecting your favorite YouTube channels and <br>turning them into tradable stocks on our platform. Seamlessly<br> merge entertainment and investment, unlocking a new era <br>where content creators and investors unite.</p>
          <div id="mdiv">
            <p id="mcont">Create a New Metamask Wallet Now!</p>
            <button id="mbut"><a href="https://metamask.io/download/" target="_blank">Create Metamask</a></button>
          </div>

          <div class="ubutton">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="./usersignup"><button >User Sign UP</button></a>
            <a href="./userlogin"><button >User Login</button></a>
          </div>
        </div>
      </div>
      <div id="about">
        <p>ABOUT US</p>
      </div>
      <div id="aboutcont">
        <p>Welcome to Thala, a pioneering platform at the forefront of Web3 innovation, dedicated to reshaping the dynamics
           between creators and users in the digital realm. In the ever-evolving landscape of Web3 technology, Thala envisions a
            future where creators take charge by releasing their own tokens, enabling users to invest in their favorite influencers
             and even bid for ownership of their channels. By leveraging the power of tokenomics, Thala empowers creators to
              monetize their content in unprecedented ways, fostering a more equitable and vibrant digital ecosystem. 
             Join us on this groundbreaking journey where everyone wins, as we redefine the relationship between creators and
              users in the ownership economy of digital media.
      </div>
    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      var typed=new Typed(".autotype",{strings:["Welcome To","THALA"],
    typeSpeed:150,
    backSpeed:120,
    loop:true});
    </script>
  </body>
</html>