<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Keania One' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rajdhani:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@500&family=Roboto:wght@500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="usersignup.css">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-image: url("vecteezy_abstract-futuristic-digital-background-technology-for_5550031 2.jpg");
        }

        nav {
            height: 100px;
            width: 100%;
            background-color: #07091C;
            border-radius: 50px;
            display: flex;
        }

        #mainthala {
            color: #E3C006;
            font-size: 40px;
            margin-left: 48px;
            position: relative;
            top: 20px;
            font-family: 'Keania One';
        }

        ul {
            padding-top: 40px;
            padding-left: 170px;
            margin-left: 120px;
        }

        ul li {
            display: inline;
            padding: 50px;

        }

        li a {
            text-decoration: none;
            color: #BEF2F5;
            font-size: 20px;
            font-family: 'inter';
            font-style: italic;
        }

        .search {
            margin-top: 40px;
            background-color: white;
            height: 56px;
            width: 865px;
            border-radius: 20px;
            background-color: #D9D9D9;
        }

        .search p {
            color: #656060;
            font-size: 20px;
            text-align: left;
            padding: 15px;
            padding-left: 50px;
            font-family: 'inter';
        }

        .line {
            background-color: #192257;
            margin-top: 30px;
            height: 40px;
        }

        .line ul {
            padding-top: 10px;
            padding-left: 0px;
            padding-right: 0px;
            float: left;
            margin-left: 0px;
        }

        .line a {
            font-size: 16px;
            /* display: inline-flexbox; */
            padding-bottom: 13px;
        }

        .box {
            border-radius: 20px;
        }

        .box1 {
            width: 988px;
            height: 226px;
            background-color: #C1C1C1;
            margin-top: 80px;
        }

        .box2 {
            width: 988px;
            height: 226px;
            background-color: #C1C1C1;
            margin-top: 20px;
        }

        #dec {
            font-family: 'Keania One';
            font-size: 48px;
            padding: 50px;
            font-weight: lighter;
        }

        .card {
            display: flex;
            justify-content: space-around;
            padding-left: 70px;
            padding-right: 70px;
        }

        .card1 {
            width: 282px;
            height: 360px;
            background-color: #C1C1C1;
            border-radius: 13px;
        }

        .card2 {
            width: 282px;
            height: 360px;
            background-color: #C1C1C1;
            border-radius: 13px;
        }

        .card3 {
            width: 282px;
            height: 360px;
            background-color: #C1C1C1;
            border-radius: 13px;
        }

        .sto {
            color: #67E8E0;
            font-size: 48px;
            font-family: 'keania one';
            font-weight: lighter;
            padding: 50px;

        }

        .long {
            background-color: #C1C1C1;
            width: 1031px;
            height: 114px;
            border-radius: 13px;
        }

        .l1 {
            margin: 10px;
        }

        .l2 {
            margin: 10px;
        }

        .l3 {
            margin: 10px;
        }

        .l4 {
            margin: 10px;
        }
    </style>
</head>

<body>
    <nav>
        <span id="mainthala">Thala</span>
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#aboutcont">My COA</a></li>
            <li><a href="#aboutcont">My Stocks</a></li>
            <li><a href="#aboutcont">Stock History</a></li>
        </ul>
    </nav>
    <center>
        <div class="search">
            <p>Search for company</p>
        </div>
    </center>
    <div class="line">
        <ul type="none">
            <li><a href="#">Stock 1</a></li>
            <li><a href="#">Chart</a></li>
            <li><a href="#">Analysis</a></li>
            <li><a href="#">Peers</a></li>
            <li><a href="#">Quarters</a></li>
            <li><a href="#">Profit & Loss</a></li>
        </ul>
    </div>

    <center>
        <div class="box box1"></div>
        <div class="box box2"></div>
    </center>

    <h1 id="dec">Declining Stocks</h1>
    <div class="card">

        <div class="card1"></div>
        <div class="card2"></div>
        <div class="card3"></div>
    </div>

    <h1 class="sto">Stocks In Headline</h1>

    <center>
        <div class="long l1"></div>
        <div class="long l2"></div>
        <div class="long l3"></div>
        <div class="long l4"></div>
    </center>
</body>

</html>