<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Keania One' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rajdhani:wght@300&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Inter:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="usersignup.css"> 
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        function remmid(){
                var x=document.getElementById("cpdimg");
                x.style.display="none";
            }
            function rempsd(){
                var x=document.getElementById("psdimg");
                x.style.display="none";
            }
            function remcpd(){
                var x=document.getElementById("cpdimg");
                x.style.display="none";
            }
        function checkuserform(){
            var name= document.getElementById("username");
            if(name.value == ""){
                alert("Please enter your name!");
                return false;}
            var Email=document.getElementById("useremail");
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z]{2,4})+$/;
            if(!filter.test(Email.value)){
                alert('please input a valid e-mail address!');
                return false;
            }
            var phone=/^\d{10}$/;
            var Phonenumber=document.getElementById("usernumber").value;
            if (!phone.test(Phonenumber)) {  
            	alert('Phone number is not in correct format! Please follow the format:  12345678901 ');    
                 return false;  
            }
            var mid= document.getElementById("usermetamaskid");
            if(mid.value == ""){
                alert("Please enter your metamask id!");
                return false;}
            var pass = document.getElementById("userpassword");
            var pass2 = document.getElementById("userconfirmpassword");
            var age = document.getElementById("userage");
            if(parseInt(age.value, 10) < 18){
                alert("Age should be above 18");
                return false;
            } 

            if(pass.value !== pass2.value){
                alert("Passwords do not match!");
                return false;
            }
            else if(pass.value.length<9){
                alert("minimum length of password should be 8 characters");
                return false;
            } 
            return true;
        }
    </script>
</head>
<body>
    <div class="nav"><span id="mainthala">Thala</span>
        <span id="homepage"><a href="index.ejs" >Home</a></span>
      </div>
      <img id="signback" src="Rectangle 19.svg" alt="not found">
      <img id="signuimg" src="Business, error _ comment, review, account, profile, user, list, problem.svg" alt="">
      <p id="signuhead">Signup as a User</p>
      <form id="userform" method="post" action="usersignin.ejs" onsubmit="return checkuserform()">
        <img id="midimg"src="Password.svg" alt="">
        <img id="psdimg"src="Group.svg" alt="">
        <img id="cpdimg"src="Group.svg" alt="">
        <input class="inputplace" id="username" type="text" name="username" placeholder="     Username"/><br>
        <input class="inputplace" id="useremail" type="email" name="useremail" placeholder="     Email"/><br>
        <input class="inputplace" id="usernumber" type="text" name="usernumber" placeholder="     Phone Number"/><br>
        <input class="inputplace" id="userage" type="text" name="userage" placeholder="     Age"/><br>
        <input class="inputplace" id="usermetamaskid" type="text" name="usermetamaskid" placeholder="       Metamask ID" onkeypress="remmid()"/><br>
        <input class="inputplace" id="userpassword" type="password" name="userpassword" placeholder="       Password" onkeypress="rempsd()"/><br>
        <input class="inputplace" id="userconfirmpassword" type="password" name="userconfirmpassword" placeholder="       Confirm Password" onkeypress="remcpd()"/><br>
        <input id="usersubmit" type="submit" value="Submit"/>
    </form>
    
    
</body>
</html>
